* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 
    Palatino, URW Palladio L, serif;
    font-size: 10px;
}

.container {
    /* height: 100%; */
    margin: 0 auto;
    /* background: linear-gradient(rgb(241, 240, 240), rgb(164, 184, 216), #048ABF); */
    /* color: rgba(251, 251, 251); */
    background-image: url(walp.jpg);
    background-position: center;
    background-repeat:no-repeat;
}


nav {
    z-index: 1;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    background-color: #ffffff50;
    /* text-shadow: 0 0 10px rgba(255, 255, 255, 0.3), 0 0 15px rgba(255, 255, 255, 0.9); */
}

nav>a {
    display: inline-block;
    text-transform: uppercase;
    padding: 1.5%;
    font-weight: 500;
    font-size: 2.5rem;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.3), 0 0 30px rgba(255, 255, 255, 0.9);
}

.opisanie{
    height: 100vh;
}
.opisanie>h2 {
    font-weight: 500;
    line-height: 100%;
    padding: 15%;
    text-align: center;
    font-size: 5rem;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.3), 0 0 30px rgba(255, 255, 255, 0.9);
}
h5{
    font-weight: 500;
    /* line-height: 100%; */
    padding-top: 5%;
    text-align: center;
    font-size: 3.5rem;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.3), 0 0 30px rgba(255, 255, 255, 0.9); 
}
.test {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

.test>a {
    max-height: 100%;
    padding-bottom: 10%;
    padding: 10%;
    /* border: 10px solid #ffffff37; */
}

.test>a>img {
    max-height: 100%;
    max-width: 100%;
    filter: drop-shadow(0 0 55px #ffffff);
}

h3 {
    text-transform: uppercase;
    padding: 1.5%;
    font-weight: 500;
    text-align: center;
    font-size: 1rem;
    color: rgb(255, 255, 255);
}
h4{
    text-transform: uppercase;
    padding: 1.5%;
    font-weight: 500;
    text-align: center;
    font-size: 0.5rem;
    color: rgb(255, 255, 255);  
}


@media (max-width: 1000px) {
    .wrapper>p {
        font-size: 1.6rem;
    }

}

@media (max-width: 787px) {
    .wrapper>p {
        font-size: 1.4rem;
    }
   
}

@media (max-width:700px) {
    h1 {
        font-size: 2rem;
    }
    nav>a {
        font-size: 1.5rem;
        display: block;
        padding: 0.5%;
        text-decoration:underline;
    }
    .opisanie>h2 {
        padding: 25%;
    font-size: 3rem;}
    h5{
        font-size:2.5rem;
    }
    .wrapper {
        display: inline;
        float: none;
    }

    .wrapper>p {
        text-align: center;
        max-width: 100%;
        font-size: 2rem;
        padding-top: 1%;
    }

    .wrapper>img {
        max-width: 100%;
        margin: 0 auto;
    }

    .modal-content {
        width: 27%;
        height: 22%;
    }
}
