* {
    margin: 0;
    padding: 0;
    text-decoration: none;
font-family: 
    Palatino, URW Palladio L, serif;    font-size: 10px;
    font-weight: 500;
}

.header {
    /* background: linear-gradient(blue 16%, green 42%, rgb(251, 251, 251) 75%); */
    background: linear-gradient(rgb(241, 240, 240), rgb(164, 184, 216), #048ABF);
    height: 100vh;

}

h1 {
    text-align: center;
    font-size: 3.5rem;
    padding: 3%;
    color: darkblue;
    text-transform: uppercase;
}
img {
    max-width: 90%;
    padding: 1%;
  }
#map {
    max-width: 50%;
    height: 70%;
    margin: 0 auto;
    border: 25px solid #ffffff37;
}

/* .footer {
    height: 3%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 139, 0.9);
    color: #00000000;
} */

.footer:hover {
    height: 10%;
    color: rgba(251, 251, 251);
}

.footer>p {
    font-size: 1.5rem;
    text-align: center;
    padding: 1%;
}

.message {
    max-width: 150px;
    position: fixed;
    left: 1%;
    bottom: 1.5%;
    text-align: center;
    border-radius: 10px;
    padding: 1%;
    background-color: rgba(0, 0, 139, 0.95);
    opacity: 0.3;
  }

.message:hover {
    opacity: 1;
}

.message>a {
    text-decoration: none;
    color: rgba(251, 251, 251);
    font-size: 1.5rem;
    text-transform: uppercase;
}

.button {
    opacity: 0.7;
    position: fixed;
    z-index: 1;
    bottom: 1.5%;
    right: 1%;
    max-width: 7vh;
}

.button>a>img {
    max-width: 100%;
}


@media (max-width: 1000px) {
    .wrapper>p {
        font-size: 1.6rem;
    }
}

@media (max-width: 787px) {
    .wrapper>p {
        font-size: 1.4rem;
    }
}

@media (max-width:700px) {
    h1 {
        font-size: 2rem;
    }

    #map {
        max-width: 70%;
    }

    .wrapper {
        display: block;
        float: none;
    }

    .wrapper>p {
        text-align: center;
        max-width: 100%;
        font-size: 2rem;
        padding: 1%;
    }

    .wrapper>img {
        max-width: 100%;
        margin: 0 auto;
    }

    .modal-content {
        width: 27%;
        height: 22%;
    }
}
